[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Restart=always
RestartSec=10
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
EnvironmentFile=/etc/environment
Environment=KUBELET_VERSION={{ kubernetes_version }}
ExecStart=/opt/bin/kubelet-wrapper \
  --api_servers=http://127.0.0.1:8080 \
  --register-node=false \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override=${COREOS_PRIVATE_IPV4} \
  --cluster_dns={{ kubernetes_dns_service_ip }} \
  --cluster_domain=cluster.local
  --v={{ kubernetes_log_level }}

[Install]
WantedBy=multi-user.target
