.DS_Store
.vagrant
*.box
*.tfstate*
*.tfvars
*.tfplan
.wercker
*.cache
ssh.config
vendor
.bundle
.kitchen
terraform/**/.terraform
terraform/**/etcd_discovery_url.txt
site.retry
roles/coreos_timezone
roles/coreos_bootstrap
_builds
_projects
_steps
_book
node_modules
