[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Restart=always
RestartSec=10
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
EnvironmentFile=/etc/environment
Environment="RKT_OPTS=--volume var-log,kind=host,source=/var/log --mount volume=var-log,target=/var/log"
Environment=KUBELET_VERSION={{ kubernetes_version }}
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStart=/opt/bin/kubelet-wrapper \
  --api-servers={{ kube_api_servers }} \
  --network-plugin-dir=/etc/kubernetes/cni/net.d \
  --network-plugin=cni \
  --allow-privileged=true \
  --register-schedulable={{ schedulable }} \
  {% if node_labels != "" %}
  --node-labels="{{ node_labels }}" \
  {% endif %}
  --config=/etc/kubernetes/manifests \
  --hostname-override=${COREOS_PRIVATE_IPV4} \
  --cluster_dns={{ kubernetes_dns_service_ip }} \
  --cluster_domain={{ dns_domain }} \
  --kubeconfig={{ kubernetes_config_dir }}/worker-kubeconfig \
  --tls-cert-file={{ kubernetes_cert_dir }}/kubelet.pem \
  --tls-private-key-file={{ kubernetes_cert_dir }}/kubelet-key.pem \
  --v={{ kubernetes_log_level }}{% if cloud_provider is defined %} \
  --cloud-provider={{ cloud_provider }} {% endif %}

[Install]
WantedBy=multi-user.target
