apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: {{ kubernetes_cert_dir }}/ca.pem
users:
- name: kubelet
  user:
    client-certificate: {{ kubernetes_cert_dir }}/kubelet.pem
    client-key: {{ kubernetes_cert_dir }}/kubelet-key.pem
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context
