[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Restart=always
RestartSec=10
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/cni/net.d
EnvironmentFile=/etc/environment
Environment="RKT_OPTS=--volume var-log,kind=host,source=/var/log --mount volume=var-log,target=/var/log"
Environment=KUBELET_VERSION={{ kubernetes_version }}
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStart=/opt/bin/kubelet-wrapper \
  --api-servers=http://127.0.0.1:8080 \
  --network-plugin-dir=/etc/kubernetes/cni/net.d \
  --network-plugin=cni \
  --register-schedulable=false \
  --allow-privileged=true \
  --config=/etc/kubernetes/manifests \
  --hostname-override=${COREOS_PRIVATE_IPV4} \
  --cluster_dns={{ kubernetes_dns_service_ip }} \
  --cluster_domain={{ dns_domain }} \
  --v={{ kubernetes_log_level }}{% if cloud_provider is defined %} \
  --cloud-provider={{ cloud_provider }} {% endif %}

[Install]
WantedBy=multi-user.target
